.navbar {
    margin-bottom:40px !important;
}

.navigation {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #000000;
  }
  
  .navbar .logo h1 {
    font-size: 24px;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
  }
  
  .navbar .nav-links li {
    margin-left: 30px;
  }
  
  .navbar .nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-links a:hover {
    color: #ff6347;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
  }
  
  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #000000;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none;
      width: 100%;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #E6E6E6;
      padding: 20px;
    }
  
    .navbar .nav-links.active {
      display: flex;
    }
  
    .navbar .nav-links li {
      margin: 15px 0;
      text-align: center;
    }
  
    .hamburger {
      display: flex;
    }
  }
  